{% extends "main.html" %}

{% block main %}

	<h1> Edit Item </h1>

	<form class="form" action="{{url_for('editItem', category_id=item.category_id, item_id=item.id )}}" method = 'POST'>

		<div class="form-item">
			<h2>Name:</h2>

			<input class='input' type='text' size='30' name='name' placeholder="{{item.name}}" required>
		</div>

		<div class="form-item">
			<h2>Description:</h2>

			<input class='input' type='text' size='30' name='description' placeholder="{{item.description}}" required>
		</div>

		<div class="form-item">
			<p>Category:</p>

			<select name='category' class="dropdown">
				{% for category in categories %}

				<option value="{{ category.id }}" {% if item.category_id == category.id %} selected {% endif %}>
					{{ category.name }}
				</option>

				{% endfor %}
			</select>
		</div>


		<div class="buttons">
			<input class="color-button" type='submit' value='Update' />
			<a class="inverted-button" href="{{url_for('showItem',  item_id = item.id)}}">Cancel</a>
		</div>

	</form>
		
{% endblock %}
